$setting-breakpoint-sizes: (
  xsmall: 0,
  small: 640px,
  medium: 960px,
  large: 1280px,
  xlarge: 1440px
);

//
// Breakpoint Functions
//

@function getBreakpoint($size) {
  @return map-get($setting-breakpoint-sizes, $size);
}

@function getDownValues($end-breakpoint) {
  @return (0, getBreakpoint($end-breakpoint));
}

@function getOnlyValues($start-breakpoint, $end-breakpoint) {
  @return (getBreakpoint($start-breakpoint), getMaxSize($end-breakpoint));
}

@function getMaxSize($breakpoint-value) {
  @return (getBreakpoint($breakpoint-value) - $setting-max-size-decrement);
}

//
// Breakpoint Variables
//

$setting-breakpoints: (
  "xsmall": getBreakpoint(xsmall),
  "small": getBreakpoint(small),
  "small-only": getOnlyValues(small, medium),
  "small-down": getDownValues(small),
  "medium": getBreakpoint(medium),
  "medium-down": getDownValues(medium),
  "medium-only": getOnlyValues(medium, large),
  "large": getBreakpoint(large),
  "large-down": getDownValues(large),
  "large-only": getOnlyValues(large, xlarge),
  "xlarge": getBreakpoint(xlarge)
);

//
// The Breakpoint Mixin
//

@mixin breakpoint($user-input-breakpoint) {
  @each $breakpoint, $value in $setting-breakpoints {
    @if ($user-input-breakpoint == $breakpoint) {
      @if type-of($value) == list {
        @media screen and (min-width: nth($value, 1)) and (max-width: nth($value, 2)) {
          @content;
        }
      } @else {
        @media screen and (min-width: $value) {
          @content;
        }
      }
    }
  }
}
